* {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  font-size: 3rem;
  font-style: italic;
  padding: 20px;
  background-color: rgb(41, 41, 41);
  color: white;
  margin-bottom: 5px;
}